<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are Summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Tensor Flow
2. Pandas
3. Scala

| Data Science Tools |
|--------------------|
| Apache Zeppelin |
| R Studio |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply and then add integers

In [7]:
num1 = 3
num2 = 4
num3 = 5
result = (num1 * num2) + num3
print(result)

17

This will convert 200 minutes to hours by dividing by 60

In [8]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives**

List of popular languages in Data Science
- Python
- Julia
- C++
- SQL
- R

## Author
Deepak Kumar Patel